---
- name: Update apt cache if needed.
  apt: update_cache=yes cache_valid_time=3600

- name: Install NTP if needed.
  apt: name=ntp state=latest

- name: Set maximum tracked connections to 400000
  sysctl: name="net.netfilter.nf_conntrack_max" value=400000 sysctl_set=yes state=present reload=yes

- name: Copy ntp.conf.
  copy: src=ntp.conf dest=/etc/ntp.conf owner=root group=root mode=644 backup=yes
  notify: restart ntpd
