ALL: 127.0.0.1
ALL: 10.8.0.*
ALL: 172.29.*
ALL: {{ ansible_default_ipv4.address|default("127.0.1.1") }}
ALL: .siteuptime.com
# monitor1-atlanta.linode.com
ALL: 66.228.57.137
# monitor1-london.linode.com
ALL: 176.58.113.114
# monitor1-fremont.linode.com
ALL: 50.116.11.198
