language: python
sudo: required
dist: trusty
before_install:
  - sudo apt-get install software-properties-common -y
  - sudo apt-add-repository ppa:ansible/ansible -y
  - sudo apt-get update -q
  - sudo apt-get install ansible -y
script: ansible-playbook -v -i 127.0.0.1, lttle.yml
