language: python
sudo: required
dist: trusty
addons:
  apt:
    packages:
    - openssh-server
    - software-properties-common
  ssh_known_hosts:
    - localhost
    - 127.0.0.1
services:
  - ssh
before_install:
  - sudo apt-add-repository ppa:ansible/ansible -y
  - sudo apt-get update -qq
  - sudo apt-get install -qq ansible -y
before_script:
  - ssh-keygen -t rsa -P '' -f ~/.ssh/id_rsa
  - cat ~/.ssh/id_rsa.pub >> ~/.ssh/authorized_keys
script: ansible-playbook --check --diff -i localhost, -c local lttle.yml
after_failure:
  - echo "Failures detected. Outputing additional logs:"
  - sudo cat /var/log/apache2/error.log
  - sudo cat /var/log/mysql.err
  - sudo cat /var/log/owncloud.log
  - sudo cat /var/log/mail.err
