---

- name: Install dbus.
  apt:
    name: dbus
    state: present

- name: Set a hostname.
  hostname:
    name: "{{ hostname }}"

- name: Install system utilities.
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - apt-transport-https
    - bzip2
    - curl
    - diffutils
    - dnsutils
    - etckeeper
    - findutils
    - git
    - git-core
    - gnupg
    - gzip
    - htop
    - lynx
    - nano
    - nmap
    - openssl
    - openssh-client
    - openssh-server
    - openssh-sftp-server
    - p7zip
    - patch
    - python3-pip
    - rsync
    - screen
    - sed
    - sysbench
    - tar
    - tcpdump
    - telnet
    - traceroute
    - unrar-free
    - unzip
    - vim
    - wget
    - xz-utils
    - zip
    - zoo
  when: ansible_os_family == 'Debian'

- name: Install certbot.
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - certbot
    - python-certbot-apache
  when: ansible_distribution == "Debian"

- name: Set timezone.
  copy:
    content: "{{ timezone }}\n"
    dest: /etc/timezone
    owner: root
    group: root
    mode: 0644
  register: timechange
  notify: reconfigure timezone

- name: Upload a new motd.
  copy:
    src: motd
    dest: /etc/motd
    owner: root
    group: root
    mode: 0644
