---

- name: Copy opendkim configuration.
  ansible.builtin.copy:
    src: opendkim/opendkim.conf
    dest: /etc/opendkim.conf
    owner: root
    group: wheel
    mode: 0644

- name: Make opendkim listen on loopback on port 12345.
  ansible.builtin.lineinfile:
    dest: /etc/default/opendkim
    regexp: "^SOCKET"
    line: 'SOCKET="inet:12345@localhost"'
    state: present
