---

- name: Add Apache virtualhosts.
  template: src={{item.src}} dest={{item.dest}} owner=root group=root mode=644
  with_items:
    - { src: 'browseruseragent.j2', dest: '/etc/apache2/sites-available/browseruseragent' }
    - { src: 'echoip.j2', dest: '/etc/apache2/sites-available/echoip' }
    - { src: 'ntp.j2', dest: '/etc/apache2/sites-available/ntp' }

- name: Copy deekayen files.
  copy: src={{item.src}} dest={{item.dest}} owner=root group=root mode=644
  with_items:
    - { src: 'deekayen/error.html', dest: '/var/www/html/error.html' }
    - { src: 'deekayen/index.html', dest: '/var/www/html/index.html' }
    - { src: 'deekayen/key.asc', dest: '/var/www/html/key.asc' }
    - { src: 'deekayen/rss.xml', dest: '/var/www/html/rss.xml' }
    - { src: 'deekayen/sitemap.xml', dest: '/var/www/html/sitemap.xml' }
    - { src: 'deekayen/sitemap.xml.gz', dest: '/var/www/html/sitemap.xml.gz' }

- name: Create deekayen CSS directory.
  file: path=/var/www/html/css state=directory mode=0755

- name: Copy deekayen CSS files.
  copy: src={{item.src}} dest={{item.dest}} owner=root group=root mode=644
  with_items:
    - { src: 'deekayen/screen.css', dest: '/var/www/html/css/screen.css' }
    - { src: 'deekayen/grid.css', dest: '/var/www/html/css/grid.css' }

- name: Set echoip directory.
  file: path=/var/echoip state=directory mode=0755

- name: Copy echoip files.
  copy: src={{item.src}} dest={{item.dest}} owner=root group=root mode=644
  with_items:
    - { src: 'echoip.php', dest: '/var/echoip/index.php' }
    - { src: 'transparent.ico', dest: '/var/echoip/favicon.ico' }
    - { src: 'google85c4367e2b46d290.html', dest: '/var/echoip/google85c4367e2b46d290.html' }

- name: Set browseruseragent directory.
  file: path=/var/browseruseragent state=directory mode=0755

- name: Copy browseruseragent files.
  copy: src={{item.src}} dest={{item.dest}} owner=root group=root mode=644
  with_items:
    - { src: 'browseruseragent.php', dest: '/var/browseruseragent/index.php' }
    - { src: 'transparent.ico', dest: '/var/browseruseragent/favicon.ico' }
    - { src: 'google85c4367e2b46d290.html', dest: '/var/browseruseragent/google85c4367e2b46d290.html' }
