---

- name: "Install Apache."
  community.general.openbsd_pkg:
    name: "{{ item }}"
    state: present
  with_items:
    - apache-httpd
    - apachetop

- name: Enable Apache headers module.
  apache2_module:
    state: present
    name: headers
  when: not ansible_check_mode

- name: Set non-default Apache ServerName to prevent notices.
  ansible.builtin.lineinfile:
    dest: /etc/apache2/httpd2.conf
    regexp: "^#ServerName www.example.com:80"
    line: "ServerName {{ ansible_fqdn }}"
    state: present

- name: Look for SSL configuration in apache.
  ansible.builtin.lineinfile:
    dest: /etc/apache2/httpd2.conf
    regexp: "^#Include /etc/apache2/extra/httpd-ssl.conf"
    line: "Include /etc/apache2/extra/httpd-ssl.conf"
    state: present

#- name: Copy Apache ports configuration.
#  ansible.builtin.template:
#    src: ports.conf.j2
#    dest: /etc/apache2/ports.conf
#    mode: 0644

- name: "Install PHP graphics lib dependencies."
  community.general.openbsd_pkg:
    name: "{{ item }}"
    state: present
  with_items:
    - djvulibre
    - freetype

- name: "Install PHP."
  community.general.openbsd_pkg:
    name: "{{ item }}"
    state: present
  with_items:
    - php-apache%8.0
    - pear
    - php-curl%8.0
    - php-gd%8.0
    - pecl80-imagick
    - php-intl%8.0
    - pecl80-mcrypt
    - php-mysqli%8.0
    - php-pgsql%8.0
    - php-sqlite3%8.0
  notify: restart apache2

- name: Check if MariaDB is already installed.
  ansible.builtin.stat:
    path: /etc/init.d/mysql
  register: mariadb_installed

- name: Install MariaDB Server.
  community.general.openbsd_pkg:
    name: "{{ item }}"
    state: present
  with_items:
    - mariadb-server
    - mariadb-client
    - py3-mysqlclient
  register: mariadb_install_packages

- include_tasks: squirrelmail.yml
- include_tasks: secure-apache.yml
- include_tasks: secure-mariadb.yml
- include_tasks: hosts.yml
- include_tasks: nextcloud.yml
