---

- name: Install ownCloud repository.
  apt_repository:
    repo: 'deb http://download.owncloud.org/download/repositories/10.0/Debian_8.0/ /'
    state: present

# https://github.com/owncloud/core/issues/23599#issuecomment-250678273
- name: "Add owncloud apt key."
  apt_key:
    keyserver: keyserver.ubuntu.com
    id: 47AE7F72479BC94B

- name: Add ownCloud repository key to the system.
  apt_key:
    url: http://download.owncloud.org/download/repositories/10.0/Debian_8.0/Release.key
    state: present

- name: Update apt cache to add ownCloud repo key.
  apt:
    update_cache: yes

- name: Install ownCloud.
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - owncloud-files
    - libreoffice-writer
    - clamav
    - clamav-daemon
  register: owncloud_install_packages

- name: Check for existing ownCloud install.
  stat:
    path: /var/www/owncloud/config/config.php
  register: owncloud_conf

- name: Install random password generator.
  apt:
    name: pwgen
    state: present
  when: not owncloud_conf.stat.exists

- name: Generate a random ownCloud database password.
  command: pwgen -B -s 24 1
  register: owncloud_dbpass
  ignore_errors: false
  when: not owncloud_conf.stat.exists

- name: Create a database for ownCloud.
  mysql_db:
    name: "{{ owncloud_dbname }}"
    state: present
  when: owncloud_install_packages.changed

- name: Create a database user for ownCloud.
  mysql_user:
    name: "{{ owncloud_dbuser }}"
    password: "{{ owncloud_dbpass.stdout }}"
    priv: "owncloud.*:ALL"
    state: present
  when: mariadb_install_packages.changed and NOT owncloud_conf.stat.exists and owncloud_dbpass.changed

- name: Copy ownCloud config template.
  template:
    src: owncloud_config.php.j2
    dest: /var/www/owncloud/config/config.php
    owner: www-data
    group: www-data
    mode: 0770
  when: NOT owncloud_conf.stat.exists
