---
- name: "Install Squirrelmail"
  apt:
    name: "{{ item }}"
    state: latest
  with_items:
    - squirrelmail
    - squirrelmail-decode
    - squirrelmail-locales
    - squirrelmail-viewashtml

- name: Configure Squirrelmail.
  template:
    src: squirrelmail.php.j2
    dest: /etc/squirrelmail/config.php
    owner: root
    group: root
    mode: 644

- name: Activate the Squirrelmail vhost.
  file:
    src: /etc/squirrelmail/apache.conf
    path: /etc/apache2/sites-enabled/squirrelmail.conf
    state: link
    owner: root
    group: root
  notify: restart apache2
