{% if ansible_default_ipv6.address is defined %}
<VirtualHost {{ ansible_default_ipv4.address|default("0.0.0.0") }}:80 [{{ ansible_default_ipv6.address|default("::") }}]:80>
{% else %}
<VirtualHost {{ ansible_default_ipv4.address|default("0.0.0.0") }}:80>
{% endif %}
  ServerName browseruseragent.info
  ServerAlias *.browseruseragent.info
  ServerAdmin {{ server_admin }}

  DocumentRoot /var/browseruseragent
  <Directory /var/browseruseragent/>
    Options -Indexes +FollowSymLinks -MultiViews
    AllowOverride None
    Require all granted
  </Directory>

  ErrorLog ${APACHE_LOG_DIR}/browseruseragent-error.log

  # Possible values include: debug, info, notice, warn, error, crit,
  # alert, emerg.
  LogLevel {{ apache_log_level }}

  CustomLog ${APACHE_LOG_DIR}/browseruseragent-access.log common

</VirtualHost>
