<?php
$CONFIG = array (
  'dbtype' => 'mysql',
  'dbname' => '{{ owncloud_dbname }}',
  'dbhost' => 'localhost',
  'dbuser' => '{{ owncloud_dbuser }}',
  'dbpassword' => '{{ owncloud_dbpass.stdout }}',
);
