<VirtualHost {{ ansible_default_ipv4.address|default("0.0.0.0") }}:80 [{{ ansible_default_ipv6.address|default("::1") }}]:80>
   ServerName pool.ntp.org
   ServerAlias *.pool.ntp.org *.ntppool.org
   Redirect permanent / http://www.pool.ntp.org/
</VirtualHost>
