{% if ansible_default_ipv6.address is defined %}
<VirtualHost {{ ansible_default_ipv4.address|default("0.0.0.0") }}:80 [{{ ansible_default_ipv6.address|default("::") }}]:80>
{% else %}
<VirtualHost {{ ansible_default_ipv4.address|default("0.0.0.0") }}:80>
{% endif %}
   ServerName pool.ntp.org
   ServerAlias *.pool.ntp.org *.ntppool.org
   Redirect permanent / http://www.pool.ntp.org/
</VirtualHost>

<VirtualHost dkn.email:443>
   ServerName dkn.email
   ServerAlias mail.deekayen.net mail.dkn.me
   ServerAdmin deekayen@deekayen.net
   DocumentRoot "/var/www/squirrelmail"
   ErrorLog "logs/dkn.email-error_log"
   TransferLog "logs/dkn.email-access_log"
</VirtualHost>
