# Global Postfix configuration file. This file lists only a subset
# of all parameters. For the syntax, and for a complete parameter
# list, see the postconf(5) manual page (command: "man 5 postconf").
#
# TIP: use the command "postconf -n" to view main.cf parameter
# settings, "postconf parametername" to view a specific parameter,
# and "postconf 'parametername=value'" to set a specific parameter.
#
# For common configuration examples, see BASIC_CONFIGURATION_README
# and STANDARD_CONFIGURATION_README. To find these documents, use
# the command "postconf html_directory readme_directory", or go to
# http://www.postfix.org/BASIC_CONFIGURATION_README.html etc.
#
# For best results, change no more than 2-3 parameters at a time,
# and test if Postfix still works after every change.

# COMPATIBILITY
#
# The compatibility_level determines what default settings Postfix
# will use for main.cf and master.cf settings. These defaults will
# change over time.
#
# To avoid breaking things, Postfix will use backwards-compatible
# default settings and log where it uses those old backwards-compatible
# default settings, until the system administrator has determined
# if any backwards-compatible default settings need to be made
# permanent in main.cf or master.cf.
#
# When this review is complete, update the compatibility_level setting
# below as recommended in the RELEASE_NOTES file.
#
# The level below is what should be used with new (not upgrade) installs.
#
compatibility_level = 3.7

# SOFT BOUNCE
#
# The soft_bounce parameter provides a limited safety net for
# testing.  When soft_bounce is enabled, mail will remain queued that
# would otherwise bounce. This parameter disables locally-generated
# bounces, and prevents the SMTP server from rejecting mail permanently
# (by changing 5xx replies into 4xx replies). However, soft_bounce
# is no cure for address rewriting mistakes or mail routing mistakes.
#
#soft_bounce = no

# LOCAL PATHNAME INFORMATION
#
# The queue_directory specifies the location of the Postfix queue.
# This is also the root directory of Postfix daemons that run chrooted.
# See the files in examples/chroot-setup for setting up Postfix chroot
# environments on different UNIX systems.
#
queue_directory = /var/spool/postfix

# The command_directory parameter specifies the location of all
# postXXX commands.
#
command_directory = /usr/local/sbin

# The daemon_directory parameter specifies the location of all Postfix
# daemon programs (i.e. programs listed in the master.cf file). This
# directory must be owned by root.
#
daemon_directory = /usr/local/libexec/postfix

# The data_directory parameter specifies the location of Postfix-writable
# data files (caches, random numbers). This directory must be owned
# by the mail_owner account (see below).
#
data_directory = /var/postfix

# QUEUE AND PROCESS OWNERSHIP
#
# The mail_owner parameter specifies the owner of the Postfix queue
# and of most Postfix daemon processes.  Specify the name of a user
# account THAT DOES NOT SHARE ITS USER OR GROUP ID WITH OTHER ACCOUNTS
# AND THAT OWNS NO OTHER FILES OR PROCESSES ON THE SYSTEM.  In
# particular, don't specify nobody or daemon. PLEASE USE A DEDICATED
# USER.
#
mail_owner = _postfix
setgid_group = _postdrop

# The default_privs parameter specifies the default rights used by
# the local delivery agent for delivery to external file or command.
# These rights are used in the absence of a recipient user context.
# DO NOT SPECIFY A PRIVILEGED USER OR THE POSTFIX OWNER.
#
#default_privs = nobody

smtpd_banner = $myhostname ESMTP $mail_name (OpenBSD/$mail_version)
biff = no

# 100M
message_size_limit = 102400000

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

# TLS parameters
smtpd_tls_cert_file=/etc/letsencrypt/live/deekayen.net/fullchain.pem
smtpd_tls_key_file=/etc/letsencrypt/live/deekayen.net/privkey.pem
smtpd_tls_security_level=may
smtpd_tls_auth_only=yes
smtpd_tls_ciphers = medium
smtpd_tls_eecdh_grade = strong
smtpd_tls_exclude_ciphers = SEED, CAMELLIA, aNULL, eNULL, EXPORT, DES, RC4, MD5, PSK, aECDH, EDH-DSS-DES-CBC3-SHA, EDH-RSA-DES-CDC3-SHA, KRB5-DE5, CBC3-SHA, ECDHE-RSA-DES-CBC3-SHA, EDH-RSA-DES-CBC3-SHA, DES-CBC3-SHA
#Seems like Vanguard might only support SSLv3
smtpd_tls_protocols = !SSLv2, !SSLv3
# mandatory is for when security level = encrypt instead of may
#smtpd_tls_mandatory_ciphers = high
#smtpd_tls_mandatory_exclude_ciphers = SEED, CAMELLIA, aNULL, eNULL, EXPORT, DES, RC4, MD5, PSK, aECDH, EDH-DSS-DES-CBC3-SHA, EDH-RSA-DES-CDC3-SHA, KRB5-DE5, CBC3-SHA, ECDHE-RSA-DES-CBC3-SHA, EDH-RSA-DES-CBC3-SHA, DES-CBC3-SHA
#smtpd_tls_mandatory_protocols = !SSLv2, !SSLv3
tls_preempt_cipherlist=yes
smtpd_tls_dh1024_param_file = /etc/postfix/dh2048.pem
smtpd_tls_dh512_param_file = /etc/postfix/dh512.pem

# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

#Enabling SMTP for authenticated users, and handing off authentication to Dovecot
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
smtpd_sasl_auth_enable = yes

# David's custom abuse settings
smtpd_client_connection_rate_limit = 25
smtpd_client_message_rate_limit = 25

header_checks = regexp:/etc/postfix/header_checks
body_checks = regexp:/etc/postfix/body_checks

smtpd_helo_restrictions =
  check_helo_access regexp:/etc/postfix/helo_restrictions

smtpd_recipient_restrictions =
  permit_sasl_authenticated,
  permit_mynetworks,
  reject_unauth_destination,
# throws lookup errors, causing 450 service unavailable mail
#  permit_dnswl_client list.dnswl.org=127.0.[0..255].3,
  permit_dnswl_client swl.spamhaus.org,
  permit_dnswl_client accredit.habeas.com,
  permit_dnswl_client wl.mailspike.net=127.0.0.20,
  permit_dnswl_client query.bondedsender.org,
  permit_rhswl_client hostkarma.junkemailfilter.com=127.0.0.1,
  permit_dnswl_client hostkarma.junkemailfilter.com=127.0.0.1,
  permit_dnswl_client ips.whitelisted.org=127.0.0.2,
# Lookup failures
#  permit_dnswl_client whitelist.surriel.com,
# DNS lookup failure seen in mail.log
#  permit_dnswl_client iadb.isipp.com=127.0.1.255,
# blocked Bruce Schneier mailing list
#  reject_rbl_client bl.spamcop.net,
  reject_rbl_client zen.spamhaus.org,
  reject_rbl_client truncate.gbudb.net,
  reject_rbl_client psbl.surriel.com,
  reject_rbl_client bl.mailspike.net=127.0.0.[10..11],
# blocks Mandrillapp remailer
#  reject_rbl_client bl.nosolicitado.org,
# blocks Comcast business
#  reject_rbl_client dnsbl.justspam.org,
#  reject_rbl_client dnsbl-1.uceprotect.net,
  reject_rbl_client hostkarma.junkemailfilter.com=127.0.0.2,
# This previously went 2..6, but I had to remove 6
# after pairlite www7.pairlite.com got listed.
# and Yahoo forwards were blocked.
  reject_rbl_client dnsbl.sorbs.net=127.0.0.[2..5],
# blocks yahoo mail
#  reject_rbl_client ubl.unsubscore.com,
#  reject_rbl_client all.spamrats.com,
# included in spamhaus xbl and zen
#  reject_rbl_client cbl.abuseat.org,
# blocked pairlite
#  reject_rbl_client b.barracudacentral.org,
  check_policy_service unix:private/policy-spf

smtpd_sender_restrictions =
  reject_unknown_sender_domain,
  reject_rhsbl_sender hostkarma.junkemailfilter.com=127.0.0.2

myhostname = deekayen.net
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = /etc/mailname
mydestination = localhost
relayhost =
{% if ansible_default_ipv6.address is defined %}
mynetworks = 127.0.0.0/8 {{ ansible_default_ipv4.address|default("0.0.0.0") }}/32 [::ffff:127.0.0.0]/104 [::1]/128
{% else %}
mynetworks = 127.0.0.0/8 {{ ansible_default_ipv4.address|default("0.0.0.0") }}/32
{% endif %}
mailbox_command = procmail -a "$EXTENSION"
mailbox_size_limit = 0
recipient_delimiter = +
inet_protocols = all
{% if ansible_default_ipv6.address is defined %}
inet_interfaces = {{ ansible_default_ipv4.address|default("0.0.0.0") }}
{% else %}
inet_interfaces = {{ ansible_default_ipv4.address|default("0.0.0.0") }}
{% endif %}

#Handing off local delivery to Dovecot's LMTP, and telling it where to store mail
virtual_transport = lmtp:unix:private/dovecot-lmtp

#Virtual domains, users, and aliases
virtual_mailbox_domains = mysql:/etc/postfix/mysql-virtual-mailbox-domains.cf
virtual_mailbox_maps = mysql:/etc/postfix/mysql-virtual-mailbox-maps.cf
virtual_alias_maps = mysql:/etc/postfix/mysql-virtual-alias-maps.cf
#content_filter = smtp-amavis:[127.0.0.1]:10024

policy-spf_time_limit = 3600s

# DKIM
milter_default_action = accept
milter_protocol = 2
smtpd_milters = inet:localhost:12345
non_smtpd_milters = inet:localhost:12345

anvil_rate_time_unit = 10s

smtpd_relay_restrictions = permit_sasl_authenticated, permit_mynetworks, reject_unauth_destination

# readme_directory: The location of the Postfix README files.
#
readme_directory = /usr/local/share/doc/postfix/readme
shlib_directory = no
meta_directory = /etc/postfix
