---

- name: Ensure cron is installed.
  apt:
    name: cron
    state: present

- name: Set cron to restart dnsmasq
  cron:
    name: "Flush dnsmasq caches"
    minute: "8"
    hour: "4"
    job: "/usr/sbin/service dnsmasq restart >/dev/null 2>&1"

- name: Enable IPv4 forwarding
  sysctl:
    name: "net.ipv4.ip_forward"
    value: 1
    sysctl_set: yes
    state: present
    reload: yes

- name: Install OpenVPN server.
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
    - openvpn
    - easy-rsa
    - dnsmasq
    - dnsmasq-base

- name: Add TCP configuration.
  template:
    src: tcp.j2
    dest: /etc/openvpn/tcp.conf

- name: Add UDP configuration.
  template:
    src: udp.j2
    dest: /etc/openvpn/udp.conf

- include: obfsproxy.yml
  when: ansible_distribution == "Debian"
